body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9fafa;
  font-family: "Roboto", sans-serif;
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 1px solid #eef1f1;
  height: 80px;
  padding: 0 45px;
}

@media (max-width: 479px) {
  .header {
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  #tbcBigLogo {
    display: none;
  }
}

@media (min-width: 991px) {
  .header {
    padding: 0 10.5rem;
  }
}

#conceptLogo {
  display: none;
}

@media (min-width: 768px) {
  #conceptLogo {
    display: block;
  }
}

.header_menu {
  display: flex;
  gap: 32px;
}

.header_buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.arrow-link {
  display: flex;
  gap: 6px;
}

.buttonText {
  color: #182cc0;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  margin-top: 1.5px;
}

@media (max-width: 479px) {
  .buttonText {
    font-size: 12px;
  }
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.bar {
  height: 2px;
  border-radius: 1px;
  background-color: #555f62;
  transition: all 0.6s ease;
}

#bar1 {
  width: 11px;
}

#bar2 {
  width: 20px;
}

#bar3 {
  width: 15px;
}

.menu-button.active #bar1 {
  transform: translateY(7px) rotate(-45deg);
  width: 20px;
}

.menu-button.active #bar2 {
  opacity: 0;
}

.menu-button.active #bar3 {
  transform: translateY(-7px) rotate(45deg);
  width: 20px;
}

@media (min-width: 991px) {
  .main {
    padding: 0 7.5rem;
  }
}

/* current page */
.current_page {
  font-size: 12px;
  color: #141719;
  padding: 24px 45px;
}

@media (max-width: 479px) {
  .current_page {
    padding: 24px 15px;
  }
}

/* bunner_1 */
.firstBunnerContent {
  padding: 30px 0 50px;
}

.banner_image_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.banner_image_1 {
  width: 100%;
  min-height: 360px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .banner_image_1 {
    border-radius: 6px;
    width: calc(100% - 90px);
    min-height: 360px;
    object-fit: cover;
  }
}

.firstBannerTextView {
  position: absolute;
  bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 0 15px;
}

@media (min-width: 516px) {
  .firstBannerTextView {
    position: absolute;
    left: 45px;
    bottom: 36px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: calc(100% - 120px);
  }
}

@media (min-width: 768px) {
  .firstBannerTextView {
    position: absolute;
    left: 90px;
    bottom: 36px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: calc(100% - 200px);
  }
}

.firstBannerTitle {
  font-size: 16px;
  font-weight: 700;
}

@media (min-width: 479px) {
  .firstBannerTitle {
    font-size: 24px;
    font-weight: 700;
  }
}

.firstBannerDiscription {
  text-align: start;
  font-size: 14px;
  font-weight: 100;
  margin: 16px 0;
  line-height: 20px;
  word-break: break-word;
}

.subscribeBtn {
  all: unset;
  display: flex;
  background-image: linear-gradient(15deg, #001682, #3240e5);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  gap: 6px;
  height: 50px;
  width: 100%;
}

@media (min-width: 768px) {
  .subscribeBtn {
    all: unset;
    display: flex;
    background-image: linear-gradient(15deg, #001682, #3240e5);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    gap: 6px;
    height: 50px;
    width: 140px;
  }
}

/* big message text */
.big_message {
  padding: 0px 15px 36px;
}

@media (min-width: 479px) {
  .big_message {
    padding: 40px 45px;
  }
}

.big_message_text {
  font-size: 24px;
}

@media (min-width: 479px) {
  .big_message_text {
    font-size: 28px;
  }
}

@media (min-width: 768px) {
  .big_message_text {
    font-size: 32px;
  }
}

/* become concept section */
.section_titles {
  font-size: 14px;
  margin-bottom: 20px;
  margin-left: 15px;
  font-weight: 700;
  color: #141719;
}

@media (min-width: 479px) {
  .section_titles {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 45px;
    font-weight: 700;
    color: #141719;
  }
  .become_concept {
    padding: 36px 0;
  }
}

.selectPackageWrapper {
  display: flex;
  overflow-x: scroll;
  gap: 26px;
  padding: 0 15px;
}

@media (min-width: 479px) {
  .selectPackageWrapper {
    display: flex;
    overflow-x: scroll;
    gap: 26px;
    padding: 0 45px;
  }
}

.selectPackageCard {
  min-height: 232px;
  min-width: 280px;
  color: #fff;
  background-color: #141719;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.selectPackageCardImage {
  transition: transform 0.3s ease;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.PackageCardTextsView {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  bottom: 24px;
  left: 24px;
  gap: 20px;
  font-size: 16px;
  font-weight: 600;
}

.readMore {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  text-decoration: underline;
}

.selectPackageCardImage:hover {
  transform: scale(1.02);
}

@media (min-width: 768px) {
  .selectPackageWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .selectPackageCard:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    max-height: 256px;
  }

  .selectPackageCard:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
    max-height: 256px;
  }

  .selectPackageCard:nth-child(3) {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .PackageCardTextsView {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    bottom: 24px;
    left: 24px;
    gap: 20px;
    font-size: 24px;
    font-weight: 600;
  }
}

@media (min-width: 991px) {
  .PackageCardTextsView {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: 40px;
    gap: 20px;
    font-size: 24px;
    font-weight: 600;
  }
}

/* numbers section */
.numbersWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 36px 15px;
}

.numberCard {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  gap: 16px;
  padding: 24px;
  font-size: 14px;
  background-color: white;
}

.numberCardTitle {
  color: #141719;
  font-size: 36px;
  font-weight: 700;
}

.numberCardSubtitle {
  color: #555f62;
  font-weight: 500;
  font-size: 14px;
}

@media (min-width: 479px) {
  .numberCard {
    padding: 40px 48px;
  }
  .numbersWrapper {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 40px 45px;
  }
  .numberCardTitle {
    color: #141719;
    font-size: 44px;
    font-weight: 700;
  }
  .numberCardSubtitle {
    color: #555f62;
    font-weight: 500;
    font-size: 16px;
  }
}

@media (min-width: 1082px) {
  .numberCard {
    padding: 40px 48px;
    width: 100%;
  }
  .numbersWrapper {
    display: flex;
    flex-direction: row;
    gap: 26px;
    padding: 60px 45px;
  }
}

/* offers section */
.offers_section_title {
  font-size: 14px;
  margin-left: 15px;
  font-weight: 700;
  color: #141719;
}

@media (min-width: 479px) {
  .offers_section_title {
    font-size: 24px;
    margin-left: 45px;
    font-weight: 700;
    color: #141719;
  }
}

@media (min-width: 991px) {
  .offers_section_title {
    font-size: 24px;
    margin-left: 0;
    font-weight: 700;
    color: #141719;
  }
}

.offers_section_titleView {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-right: 15px;
}

.allOffersView {
  display: flex;
  align-items: center;
  gap: 6px;
}

.allOffersText {
  color: #182cc0;
  font-size: 12px;
  font-weight: 700;
}

/* offers slider */
.offers_section {
}

.swiper {
}

.swiper-wrapper {
  padding: 0 15px;
}

.swiper-slide {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #e1e4e5;
}

@media (min-width: 479px) {
  .offers_section_titleView {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .swiper-wrapper {
    padding: 0 45px;
  }
}

@media (min-width: 991px) {
  .swiper {
    width: 90%;
  }
  .swiper-wrapper {
    padding: 0;
  }
}

@media (min-width: 1280px) {
  .swiper {
    width: 92%;
  }
}

.sliderImg {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
  transition: all 0.25s ease-in-out;
}

.sliderImg:hover {
  transform: translateY(-4px);
}

.sliderCardsTextsWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 12px;
}

.sliderCardSubtitle {
  font-size: 12px;
  font-weight: 700;
  color: #6f787b;
}

.sliderCardTitle {
  font-weight: 700;
  font-size: 14px;
  color: #141719;
}

@media (max-width: 768px) {
  .sliderCardTitle {
    font-weight: 700;
    font-size: 14px;
    color: #141719;
  }
}

/* get app section */
.getApp {
  display: flex;
  background-color: white;
  flex-direction: column;
  gap: 24px;
  padding: 36px 15px;
  margin: 60px 0;
}

.getAppTitle {
  font-size: 14px;
  font-weight: 700;
  color: #141719;
}

.getAppSubtitle {
  font-size: 14px;
  color: #555f62;
}

.getAppImage {
  max-width: 100%;
  object-fit: cover;
}

.downloadBtn {
  all: unset;
  display: flex;
  color: #182cc0;
  text-transform: uppercase;
  border: 1px solid #182cc0;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  font-size: 12px;
  font-weight: 700;
  gap: 6px;
}

@media (min-width: 479px) {
  .getApp {
    display: flex;
    background-color: white;
    flex-direction: column;
    gap: 24px;
    padding: 40px 45px;
  }
  .getAppTitle {
    font-size: 24px;
    font-weight: 700;
    color: #141719;
  }
}

@media (min-width: 768px) {
  .getApp {
    display: flex;
    background-color: white;
    flex-direction: column;
    gap: 24px;
    padding: 50px 45px;
    position: relative;
  }
  .getAppImage {
    max-height: 90%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: 100% 100%;
    object-position: 100% 100%;
    position: absolute;
    bottom: 0;
    right: 45px;
  }
  .downloadBtn {
    max-width: 160px;
  }
}

.getAppButtonsView {
  display: none;
  gap: 16px;
}

.getAppBtn {
  border: 1px solid #e1e4e5;
  border-radius: 4px;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
}

@media (min-width: 991px) {
  .getApp {
    display: flex;
    background-color: white;
    flex-direction: column;
    gap: 24px;
    padding: 50px 166px;
    position: relative;
  }
  .getAppImage {
    max-height: 90%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: 100% 100%;
    object-position: 100% 100%;
    position: absolute;
    bottom: 0;
    right: 166px;
  }
  .downloadBtn {
    display: none;
  }
  .getAppButtonsView {
    display: flex;
  }
}

/* products slider */
.productsSubtitle {
  color: #555f62;
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* awards slider */
.awardSlide {
  background-color: white;
  padding: 28px;
  border: 0;
}

.awardsImg {
  object-fit: cover;
}
